###############################################################################
# Build Artifacts
###############################################################################
artifacts/
bin/
obj/
.dotnet/
msbuild.binlog
.nuget/

###############################################################################
# Visual Studio
###############################################################################
.vs/
